.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Sign in
    %p
      - if params[:user_type] == "student"
        Enter your BPS email and the password your teacher gave you.
      - if params[:user_type] == "family"
        Enter your student's BPS email and the password they received from their teacher.
      - if params[:user_type] == "teacher"
        Enter your email and password.
    = devise_error_messages!
    .form-group
      - if devise_mapping.registerable?
        = link_to 'Sign up', new_registration_path(resource_name), class: 'right'
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        = link_to "Forgot password?", new_password_path(resource_name), class: 'right'
      = f.label :password
      = f.password_field :password, class: 'form-control'
    = f.submit 'Sign in', :class => 'button right'
    - if devise_mapping.rememberable?
      .checkbox{:style => "width:150px"}
        %label
          = f.check_box :remember_me
          Remember me
