.index-hero
  - if @starred
    = render partial: "shared/back_link"
    .row
      .col.s12.m6.offset-m3
        %h1.page-title
          =image_tag "star-unsaved.png", class: "title-star"
          %span.orange-text My schools
        %p.page-subtitle
          These are the schools you've starred. Keep adding and adjusting until you've got at least eight schools that fit you best. Next up: talk to your teacher, your family, your guidance counselor and make a plan to get these applications done!
  - elsif @tag
    = render partial: "shared/back_link"
    .row
      .col.s12.m6.offset-m3
        %h1.page-title= @tag.name
        %p.page-subtitle= @tag.description
  - else
    .row
      .col.s12.m6.offset-m3
        %h1.page-title= "All schools"
        %p.page-subtitle
          Check out this list of schools in your area to find schools that are a good fit for you. Be sure to get more information and star your favorites.
.row
  .col.s12.m6.offset-m3
    %ul.tabs
      %li.tab
        = link_to "#list-view",
          id: "list-show-link",
          class: :active do
          List view
      %li.tab
        = link_to "#map-view",
          id: "map-show-link" do
          Map view

#list-view
  -if @schools.count > 0
    - @schools.in_groups_of(3).each do |row_of_schools|
      .row
        - row_of_schools.each do |school|
          -if school
            .col.s12.m6.l4
              .card
                =link_to school, class: "image-link" do
                  .card-image.gradient{style: "background-image: url(#{ asset_path("school_" + school.id.to_s + ".jpg") })"}
                    %span.card-title= school.name
                .card-content{class: "left-border-#{school.color}"}
                  %p= raw school.short_about
                  %p
                    -school.tags.each do |tag|
                      =link_to tag.name, schools_path(tag_id: tag.id)
  -else
    No schools to show here.
.row
  #map-view.col.s12
    #map
    #map-footer.card
      .card-content
        %h5.name
        .about
        .tags
      .card-action
        = link_to "Click to see detailed information >>",
          "#",
          class: :link
