.row
  .col.s12
    - if @starred
      =link_to "< Back to all schools", schools_path
      %h1 My Lucky 8
    - elsif @tag
      =link_to "< Back to all schools", schools_path
      %h1= @tag.name
      %p= @tag.description
    - else
      %h1= "All schools"
.row
  .col.s12
    %ul.tabs
      %li.tab.col.s6
        = link_to "#list-view",
          id: "list-show-link",
          class: :active do
          List
      %li.tab.col.s6
        = link_to "#map-view",
          id: "map-show-link" do
          Map

#list-view
  -if @schools.count > 0
    - @schools.in_groups_of(3).each do |row_of_schools|
      .row
        - row_of_schools.each do |school|
          -if school
            .col.s12.m6.l4
              .card
                =link_to school, class: "image-link" do
                  .card-image.gradient
                    =image_tag school.image_url || "https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png"
                    %span.card-title= school.name
                .card-content
                  %p= truncate(raw school.about)
                  %p
                    -school.tags.each do |tag|
                      =link_to tag.name, schools_path(tag_id: tag.id)
  -else
    No schools to show here.
.row
  #map-view.col.s12
    #map
    #map-footer.card
      .card-content
        %h5.name
        .about
        .tags
      .card-action
        = link_to "Click to see detailed information >>",
          "#",
          class: :link
