.row
  .col.s12
    - if @starred
      =link_to "< Back to all schools", schools_path
      %h1 My Lucky 8
    - elsif @tag
      =link_to "< Back to all schools", schools_path
      %h1= @tag.name
      %p= @tag.description
    - else
      %h1= "All schools"
.row
  .col.s12
    %ul.tabs
      %li.tab.col.s6
        = link_to "#list-view",
          id: "list-show-link",
          class: :active do
          List
      %li.tab.col.s6
        = link_to "#map-view",
          id: "map-show-link" do
          Map

.row#main-row
  #list-view.col.s12
    -if @schools.count > 0
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Average class size
            %th Graduation rate
            %th Tags
            %th
        %tbody
          - @schools.each do |school|
            %tr
              %td= school.name
              %td= school.avg_class_size
              %td= school.four_yr_graduated
              %td
                - school.tags.each do |tag|
                  = link_to tag.name, schools_path(tag_id: tag.id)
              %td= link_to "More info", school
    -else
      No schools to show here.
  #map-view.col.s12
    #map
    #map-footer.card
      .card-content
        %h5.name
        .grad-rate
      .card-action
        = link_to "Click to see detailed information >>",
          "#",
          class: :link
