.row
  .col.s12
    = link_to "< Back to list", schools_path, class: "back-link"

.row
  .col.s12.m6.l4
    .card
      .card-image.gradient
        =image_tag @school.image_url || "https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png"
        %span.card-title= @school.name
      - if @school.about
        .card-content
          %p= raw @school.about
  - if @school.address
    .col.s12.m6.l4
      .card
        .card-content
          %span.card-title.orange-text Location
          - if @geocoded_hash.any?
            %p
              #small-map-view
                #map
          %p= @school.address
.row
  .col.s12.m6.l4
    .card
      .card-content
        %span.card-title.orange-text 4 Year Graduation Rate
        %p
          %ul
            %li
              Graduated:
              =@school.four_yr_graduated
              \%
            %li
              Dropped out:
              =@school.four_yr_dropped_out
              \%
            %li
              Still in school:
              =@school.four_yr_still_in_school
              \%
            %li
              GED:
              =@school.four_yr_ged
              \%

  .col.s12.m6.l4
    .card
      .card-content
        %span.card-title.orange-text Post-graduate intentions
        %p
          %ul
            %li
              Four-year college
              =@school.post_grad_four_yr_college
              \%
            %li
              Two-year college
              =@school.post_grad_two_yr_college
              \%
            %li
              Unknown
              =@school.post_grad_unknown
              \%
  .col.s12.m6.l4
    .card
      .card-content
        %span.card-title.orange-text School size by grade
        %p
          %ul
            %li
              9th grade:
              =@school.school_size_9_grade
            %li
              10th grade:
              =@school.school_size_10_grade
            %li
              11th grade:
              =@school.school_size_11_grade
            %li
              12th grade:
              =@school.school_size_12_grade
.row
  .col.s12.m6.l4
    .card
      .card-content
        %span.card-title.orange-text Other key indicators
        %p
          %ul
            - if @school.attendance_rate
              %li
                Attendance rate
                =@school.attendance_rate
                \%
            - if @school.avg_class_size
              %li
                Average class size
                =@school.avg_class_size
            - if @school.ell_percentage
              %li
                ELL percentage
                =@school.ell_percentage
                \%
  .col.s12.m6.l4
    .card
      .card-content
        %span.card-title.orange-text School population
        %p
          %ul
            %li
              Hispanic
              =@school.school_population_hispanic
              \%
            %li
              African American
              =@school.school_population_african_american
              \%
            %li
              White
              =@school.school_population_white
              \%
            %li
              Asian
              =@school.school_population_asian
              \%
            %li
              Multi-race, Non-Hispanic
              =@school.school_population_multi_race_non_hispanic
              \%
  .col.s12.m6.l4
    .card
      .card-content
        %span.card-title.orange-text How to apply
        %p= raw @school.how_to_apply

