%nav.white.orange-text
  .nav-wrapper
    .container
      =link_to schools_path do
        =image_tag "lucky.png", class: "nav-image"
      %ul#nav-mobile.right
        - if !user_signed_in?
          %li= link_to "Sign in", new_user_session_path, class: "orange-text"
        - else
          %li
            = link_to schools_path(starred: true), class: "orange-text" do
              = image_tag "star-unsaved.png", class: "nav-image"
              My stars (#{current_user.schools.count})
          %li= link_to "Sign out", destroy_user_session_path, method: :delete, class: "orange-text"

