!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Lucky8'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Lucky8'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"
    = javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield
  :javascript
    $(document).on("page:change", function() {
      var handler = Gmaps.build('Google');
        handler.buildMap({ internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(#{@geocoded_hash.to_json});
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
    });
